li span.mediaattachment {
 cursor: pointer;
}

li span.mediaattachment-delete {
 cursor: crosshair;
}

li span.mediaattachment-unused {
 background-color: yellow;
}

.mediaattachmentupload {
 display: table;
}

.mediaattachmentupload li {
 display: table-row;
}

.mediaattachmentupload li span {
 display: table-cell;
 padding: 2px;
 vertical-align: top;
}

.mediaattachmentupload li.mediaattachmentuploadhead {
 font-weight: bold;
}
